
html,
body {
  margin:0;
  overflow-x: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadein {
  from {
      transform: translate(0px, 100px);
      opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
      opacity: 1;
  }
}

@keyframes popup {
  from {
      transform: translate(0px, 100px);
      opacity: 1;
  }
  to {
    transform: translate(0px, 0px);
      opacity: 1;
  }
}

@keyframes titlePopup {
  from {
      transform: translate(0px, 200px);
      opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
      opacity: 1;
  }
}

@keyframes circleFadein {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../public/bg.png"), linear-gradient(#222026, #675183);
  background-size: cover;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
}

.TitleCxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh; 
  font-family: 'GmarketSansMedium';
}

.title {
  font-size: 5vw;
  margin: 0;
  animation: titlePopup 1s backwards;
}

.subtitle {
  font-family: 'GmarketSansLight';
  font-size: 2vw;
  letter-spacing: .01rem;
  margin: 0;
  animation: titlePopup 1s backwards;
  animation-delay: 0.1s;
}

.button {
  font-family: 'GmarketSansMedium';
  bottom: 3rem;
  position: absolute;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5rem;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 3px 17px rgba(68, 140, 255, 0.152);
  animation: popup 1s backwards;
  animation-delay: 0.8s;
}

.rect1 {
  font-size: .7rem;
}

.button:hover {
  background-color: white;
  transform: translate(0, -5px);
  box-shadow: 0px 8px 17px rgba(68, 140, 255, 0.459);
}
.button:active {
  background-color: white;
  transform: translate(0, 0px);
  box-shadow: 0px 3px 17px rgba(68, 140, 255, 0.459);
}

.Circle1 {
  position: absolute;
  width: 40vw;
  margin-bottom: 20px;
  animation: circleFadein 1s backwards;
  animation-delay: 0.4s;
}

.Circle {
  position: absolute;
  margin-bottom: 20px;
  width: 65vw;
  height: 65vw;
  border: 1.5px rgba(255, 255, 255, 0.261) solid;
  border-radius: 50%;
  animation: circleFadein 1s backwards;
  animation-delay: 0.6s;
}

.Circle.f {
  width: 90vw;
  height: 90vw;
  border: 1.5px rgba(255, 255, 255, 0.1) solid;
  animation-delay: 0.8s;
}
.Circle.s {
  width: 120vw;
  height: 120vw;
  border: 1.5px rgba(255, 255, 255, 0.05) solid;
  animation-delay: 1s;
}

.firstSub {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  width: 50vw;
  height: auto;
  margin-right: -50px;
}

.infoTxt1 {
  font-family: 'GmarketSansMedium';
  color: white;
  font-size: 3.5vw;
  margin-right: 70px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.403);
}

.img1.left {
  margin-left: 50px;
  margin-right: 0px;
  width: 43vw;
}

.infoTxt1.left {
  margin-left: 30px;
  margin-right: 50px;
  text-align: center;
}

.firstSub.center {
  flex-direction: column;
}
.img1.center{
  margin-left: 0px;
  margin-right: 0px;
  width: 65vw;
}
.infoTxt1.center {
  margin-left: 30px;
  margin-right: 50px;
  text-align: center;
  margin-top: 60px;
}

.button.bott {
  position: relative;
  margin-top: 50px;
}

.foot {
  position:static;
  color: white;
  margin-bottom: 100px;
}

.firstSub.small {
  height: 50vh;
}

.show{
  opacity: 0;
}

.item--show{
  animation: fadein 1s forwards;
}

@media screen and (max-width: 516px) { 
  .firstSub {
    height: 100vw;
  }
  .infoTxt1 {
    margin-right: 10px;
  }
  .img1 {
    margin-right: 0px;
  }
  .infoTxt1.left {
    margin-left: 20px;
  }
  .foot {
    font-size: 10px;
    margin: 0px 20px 50px 20px;
    text-align: center;
  }
  .firstSub.small {
    height: auto;
  }
}