.container1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: url("../../../public/bg.png");
    background-color: #222026;
    background-size: cover;
    transition: 1s;
    height: 100%;
}

.comCxt {
    color: white;
    font-family: 'GmarketSansMedium';
    color: white;
    font-size: 2vw;
    margin: 50px;
}

.commnet {
    font-family: 'GmarketSansLight';
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.518);
    margin-bottom: 30px;
}

.line2 {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.518);
    margin-top: 30px;
}

.comT {
    font-size: 5vw;
}

.button {
    animation: none;
}

.head {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.417);
    font-family: 'GmarketSansLight';
    font-size: 1vw;

    margin-top: 20px;
    margin-bottom: 30px;
}

.t3 {
    color: white;
    font-family: 'GmarketSansMedium';
    margin-top: 10px;
    font-size: 1.5vw;
}

.foot {
    text-align: center;
    margin-bottom: 40px;
}

.songT {
    font-size: 5vw;
}

.comCxt.song {
    margin-top: 0;
}

.firstSub.small {
    height: auto;
}

.container1.emRed {
    background-color: #771818;
}

.container1.emBlue {
    background-color: #5B4ABF;
}

.container1.emGreen {
    background-color: #1d6e4c;
}

.container1.emYellow {
    background-color: #eeca47;
}

.playlist {
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 516px) { 
    .foot {
        font-size: 10px;
        margin: 0px 20px 20px 20px;
    }
    .comCxt {
        margin: 20px;
    }
    .comT {
        font-size: 30px;
    }
    .comment {
        font-size: 15px;
        margin-top: 5px;
    }
    .songT {
        font-size: 30px;
        margin-top: 10px;
    }
    .head {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .t3 {
        font-size: 15px;
    }
    .line {
        margin-bottom: 15px;
    }
    .playlist {
        margin-top: 5px;
    }
}